extends ../layout/administrador

block contenido 

    section(class="sm:mx-auto px-5 sm:p-1 mt-2 min-h-screen items-center")
        h2.text-center.text-2xl.font-extrabold= pagina 
        
        div(class="mt-3") 
            //- Mensajes de Error
            if errores
                div(class="max-w-md mx-auto my-2  space-y-1")
                    each error in errores
                        p(class="text-white uppercase text-center font-bold text-md bg-red-500 rounded-md p-2")=error.msg
            
            div(class="bg-white shadow rounded mx-auto max-w-3xl p-5")
                form(method="POST" class="flex flex-col gap-4")
                    
                    input(type="hidden" name="_csrf" value=csrfToken)

                    div(class="space-y-1")
                        label.block.text-sm.uppercase.text-gray-500.font-bold(for="nombreProducto") Producto
                        input(id="nombreProducto" class="p-2 rounded-xl border w-full" type="text" name="nombreProducto" placeholder="Ingresa nombre del Producto..." value= producto.nombreProducto ? producto.nombreProducto : "") 

                    div(class="md:flex gap-4 ")
                        div(class="md:w-1/2")
                                label.block.text-sm.uppercase.text-gray-500.font-bold(for="colorProducto") Color
                                input(id="colorProducto" class="p-2 rounded-xl border w-full" type="text" name="colorProducto" placeholder="Ingresa color del Producto..." value= producto.colorProducto ? producto.colorProducto : "") 
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.font-bold(for="tallaProducto") Talla
                            select(class="p-2 rounded-xl border w-full" name="tallaProducto")
                                option(value="") - Seleccione -
                                option(value="XS") XS
                                option(value="S") S
                                option(value="M") M
                                option(value="XL") XL
                        

                    div(class="md:flex gap-4")
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.font-bold(for="categoriaProducto") Categoria
                            select(class="p-2 rounded-xl border w-full" name="categoriaProducto")
                                option(value="") - Seleccione -
                                each categoria in categorias 
                                    option(value=categoria.id selected= producto.categoriaId ? producto.categoriaId == categoria.id ? true : false : null)= categoria.categoriaProducto 

                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.font-bold(for="cantidadProducto") Cantidad
                            input(id="cantidadProducto" class="p-2 rounded-xl border w-full" type="number" name="cantidadProducto" placeholder="Cantidad en stock..." value= producto.cantidadProducto ? producto.cantidadProducto : "")

                    div(class="space-y-1")
                        label.block.text-sm.uppercase.text-gray-500.font-bold(for="descripcionProducto") Descripción
                        textarea(id="descripcionProducto" class="p-2 rounded-xl border w-full" name="descripcionProducto" placeholder="Descripción del Producto...")= producto.descripcionProducto ? producto.descripcionProducto : ""      
                    
                    button(type="submit" class="bg-[#002D74] rounded-xl text-white py-2") Editar Producto
