extends ../layout/administrador

block contenido 

    section(class="sm:mx-auto px-5 sm:p-1 mt-2 min-h-screen items-center")
        h2.text-center.text-2xl.font-extrabold= pagina 
        
        div(class="mt-3") 
            //- Mensajes de Error
            if errores
                div(class="max-w-md mx-auto my-2  space-y-1")
                    each error in errores
                        p(class="text-white uppercase text-center font-bold text-md bg-red-500 rounded-md p-2")=error.msg
            
            div(class="bg-white shadow rounded mx-auto max-w-3xl p-5")
                form(action=`/tienda/crear?_csrf=${csrfToken}` method="POST" class="flex flex-col gap-4" enctype="multipart/form-data")
                    
                    input(type="hidden" name="_csrf" value=csrfToken)

                    div(class="space-y-1")
                        label.block.text-sm.uppercase.text-gray-500.font-bold(for="nombreProducto") Producto
                        input(id="nombreProducto" class="p-2 rounded-xl border w-full" type="text" name="nombreProducto" placeholder="Ingresa nombre del Producto...") 

                    div(class="md:flex gap-4 ")
                        div(class="md:w-1/2")
                                label.block.text-sm.uppercase.text-gray-500.font-bold(for="colorProducto") Color
                                input(id="colorProducto" class="p-2 rounded-xl border w-full" type="text" name="colorProducto" placeholder="Ingresa color del Producto...") 
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.font-bold(for="tallaProducto") Talla
                            select(class="p-2 rounded-xl border w-full" name="tallaPropiedad")
                                option(value="") - Seleccione -
                                option(value="XS") XS
                                option(value="S") S
                                option(value="M") M
                                option(value="XL") XL
                        

                    div(class="md:flex gap-4")
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.font-bold(for="categoriaProducto") Categoria
                            select(class="p-2 rounded-xl border w-full" name="categoriaProducto")
                                option(value="") - Seleccione -
                                each categoria in categorias 
                                    option(value="categoria.id")= categoria.categoriaProducto 
                        div(class="md:w-1/2")
                            label.block.text-sm.uppercase.text-gray-500.font-bold(for="cantidadProducto") Cantidad
                            input(id="cantidadProducto" class="p-2 rounded-xl border w-full" type="number" name="cantidadProducto" placeholder="Cantidad en stock...")

                    div(class="space-y-1")
                        label.block.text-sm.uppercase.text-gray-500.font-bold(for="descripcionProducto") Descripción
                        textarea(id="descripcionProducto" class="p-2 rounded-xl border w-full" name="descripcionProducto" placeholder="Descripción del Producto...")       
                    
                    .mt-2.flex.justify-center.rounded-lg.border.border-dashed.px-6.py-10(class='border-gray-900/25')

                    label.relative.cursor-pointer.rounded-md.bg-white.font-semibold.text-indigo-600(for='file-upload' class='focus-within:outline-none focus-within:ring-2 focus-within:ring-indigo-600 focus-within:ring-offset-2 hover:text-indigo-500')
                    span Upload a file
                    input(name='imagen' type='file')

                    
                    button(type="submit" class="bg-[#002D74] rounded-xl text-white py-2") Agregar Producto